.header {
    min-height: 56px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .header {
        min-height: 74px;
        padding-top: 45px;
    }
}