.popup__button-close_view-image {
    position: absolute;
    top: -25px;
    right: -25px;
    border: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    background-image: url("../../../../images/close.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}