.profile__paragraph {
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-width: 217px;
    margin: 0 auto;
    grid-area: paragraph;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .profile__paragraph {
        font-size: 18px;
        line-height: 22px;
        max-width: 336px;
        margin: 0;
    }
}