.gallery__button-like {
    width: 22px;
    height: 19px;
    border: none;
    background-color: transparent;
    background-image: url("../../../images/like.svg");
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
}

.gallery__button-like:hover {
    opacity: .5;
}